<div class="question_summary_display">
<<<<<<< a25fdd0a7590c24426c7420e970839b74aeb6177
  <h4> <a href="<%= question_path(question) %>"> <%= question.title %> </a> </h4>
  <p> <%= question.author.username %> </p>
=======
  <h4> <%= question.title %> </h4>
  <p> <%= question.author %> </p>
>>>>>>> mvp question index
</div>
