<div>
  <br>
  <h3>Questions</h3>
  <% @questions.each do |question| %>
    <%if has_voted?(question) && get_vote(question).up_vote == true %>
      <div class="vote_kitty_head"><%=image_tag "up_vote_cat.png"%></div>
    <%elsif has_voted?(question) && get_vote(question).up_vote == false %>
      <div class="vote_kitty_head"><%=image_tag "down_vote_cat.png"%></div>
    <%else%>
      <h4><span class=".vote"><%=render partial: "questions/question_votes", locals: {question: question} %> </span>
      <div class="vote_kitty_head"><%=image_tag "neutral_vote_cat2.png"%></div>
    <%end%>
      <%= render partial: "questions/condensed_question_show", locals: {question: question} %> </h4>
      <div class="comments_section">
        <% question.comments.each do |comment| %>
          <p><%= comment.content %></p>
        <% end %>
        <button class="comment_button_toggle", type="button">Comment</button>
        <div class ="comments_form">
          <h4><%=render partial: "questions/comment_form", locals: {question: question} %></h4>
        </div>
      </div>
  <% end %>
</div>
