
<div class="content">
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
<div class="question-show-contianer">
  <h1><%= @question.title %></h1>
  <p> <%= @question.query %> </p>
</div>
<div class="comment-on-questions">
  <h5 class="comment">Comments:</h5>
  <div class="comments-block">
    <% @question.comments.each do |comment| %>
      <h6> <%= comment.content %> | posted by <%= comment.user.username %></h6>
    <% end %>
  </div>
  <div class ="comments_section">
    <button class="comment_button_toggle", type="button">Comment</button>
    <div class ="comments_form">
      <h4><%=render partial: "questions/comment_form", locals: {question: @question} %></h4>
    </div>
  </div>
</div>
<ul>
  <% @question.answers.each do |answer| %>
    <%if has_voted?(answer) && get_vote(answer).up_vote == true %>
      <span class="vote_kitty_head"><%=image_tag "up_vote_cat.png"%></span>
    <%elsif has_voted?(answer) && get_vote(answer).up_vote == false %>
      <span class="vote_kitty_head"><%=image_tag "down_vote_cat.png"%></span>
    <%else%>
      <h4><span class=".vote"><%=render partial: "questions/answer_votes", locals: {answer: answer} %> </span>
      <span class="vote_kitty_head"><%=image_tag "neutral_vote_cat2.png"%></span>
    <%end%>

    <div class="display-answer">
    <h3 >Anwer:</h3>
      <p><%= answer.response %></p>
      <p>by: <%= User.find(answer.user_id).username %> | <%= answer.updated_at.hour - Time.now.hour %> hours ago<p>
      <p>votes: <%= vote_count(answer) %> </p>
    </div>
      <h5 class="comment">Comments</h5>
      <div class="comments-block">
        <% answer.comments.each do |comment| %>
          <h6> <%= comment.content %> | posted by <%= comment.user.username %></h6>
        <% end %>
      </div>

      <div class ="comments_section">
        <button class="comment_button_toggle", type="button">add comment</button>
        <div class ="comments_form">
          <br>
          <h4><%=render partial: "questions/answer_comment_form", locals: {answer: answer} %></h4>
        </div>
      </div>
    <% end %>
  </ul>
  <%= render partial: "questions/answer", locals: {question: @question, answer: @answer} %>
</div>


