<main>
<h1><%= @question.query %></h1>
<ul>
  <% @question.answers.each do |answer| %>
    <%if has_voted?(answer) && get_vote(answer).up_vote == true %>
      <span class="vote_kitty_head"><%=image_tag "up_vote_cat.png"%></span>
    <%elsif has_voted?(answer) && get_vote(answer).up_vote == false %>
      <span class="vote_kitty_head"><%=image_tag "down_vote_cat.png"%></span>
    <%else%>
      <h4><span class=".vote"><%=render partial: "questions/answer_votes", locals: {answer: answer} %> </span>
      <span class="vote_kitty_head"><%=image_tag "neutral_vote_cat2.png"%></span>
    <%end%>

    <h3>Anwer</h3>
      <p><%= answer.response %></p>
      <p>by: <%= User.find(answer.user_id).username %> | <%= answer.updated_at.hour - Time.now.hour %> hours ago<p>
      <p>votes: <%= vote_count(answer) %> </p>

      <h4>Comment</h4>
        <% answer.comments.each do |comment| %>
          <p><%= comment.content %></p>
        <% end %>

      <div class ="comments_section">
        <button class="comment_button_toggle", type="button">add comment</button>
        <div class ="comments_form">
          <h4><%=render partial: "questions/answer_comment_form", locals: {answer: answer} %></h4>
        </div>
      </div>
    <% end %>
  </ul>
  <%= render partial: "questions/answer", locals: {question: @question, answer: @answer} %>
</main>


