<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <h3 class = "login"><%= link_to "New Question", new_question_path %> | <%= link_to "Logout", logout_path %></h3>
    <h3 class = "login">Hi, <%= current_user.username %></h3>
    <h1><%= link_to image_tag('cat_logo_with_name.gif'), root_path %></h1>
  <% else %>
    <h3 class = "login"><%= link_to "Register", register_path %></h3>
    <h1><%= link_to image_tag('cat_logo_with_name.gif'), root_path %></h1>

    <%= render partial: "sessions/new_form", locals: {user: @user} %>
  <% end %>

  <div class="line"></div>

<%= yield %>

</body>
</html>
