<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="wrapper">
  <nav>
    <div class="content">
      <% if logged_in? %>
        <ul>
          <li><h3 class="login"><%= link_to "Logout", logout_path %></h3></li>
          <li><h3 class="login">Hi, <%= current_user.username %></h3></li>
        <% else %>
          <li><%= render partial: "sessions/new_form", locals: {user: @user} %></li>
          <li><h3 class="login"><%= link_to "Register", register_path %></h3></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
<div class="content">
  <header>
    <h1><%= link_to image_tag('cat_logo_with_name.gif'), root_path %></h1>
    <div class="btns">
      <div class="btn">
        <% if logged_in? %>
          <%= link_to "New Question", new_question_path %>
      </div>
        <% end %>
      <div class="btn">
        <%= link_to "Tags", tags_path %>
      </div>
    </div>
  </header>
</div>
  <div class="line"></div>
<%= yield %>
</body>
</html>
