<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if logged_in? %>
    <h1><%= link_to 'CatLevelTooDeep', root_path %></h1>
    <h1>Hi, <%= current_user.username %></h1>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <h1><%= link_to 'CatLevelTooDeep', root_path %></h1>
    <%= link_to "Register", register_path %>
      <% if flash[:alert] %>
        <%= flash[:alert] %>
      <% end %>
    <%= render partial: "sessions/new_form", locals: {user: @user} %>
  <% end %>

<%= yield %>

</body>
</html>
