<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <title>CatLevelTooDeep</title>
  <% if logged_in? %>
    <h1>Hi, <%= current_user.username %></h1>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Register", register_path %>
    <%= render partial: "sessions/new_form", locals: {user: @user} %>
  <% end %>

<%= yield %>

</body>
</html>
